
<!DOCTYPE html>
<html lang="en">
   <head>
      
      @await Html.PartialAsync("MetatagsPartial")
      @await Html.PartialAsync("CssPartial")
      
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="" /></div>
      </div>
      <!-- end loader -->
      <div id="mySidepanel" class="sidepanel">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
         <a class="active" href="index.html">Home</a>
         <a href="about.html">About</a>
         <a href="\Studio">Онлайн запись</a>
         <a href="shop.html">Shop</a>
         <a href="contact.html">Contact</a>
      </div>
      <!-- header -->
      @await Html.PartialAsync("HeaderPartial")
      <!-- end header -->
      <!-- start slider section -->
      @await Html.PartialAsync("SliderPartial")
      <!-- end slider section -->
      <!-- services -->
      @await Html.PartialAsync("ServicesPartial")
        
      <!-- end services -->
        <div>
                @RenderBody()
        </div>
      
      <!-- footer -->
      @await Html.PartialAsync("FooterPartial")
      <!-- end footer -->
      @await Html.PartialAsync("ScriptsPartial")
   </body>
</html>