<div id="top_section" class=" banner_main">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="airmic">
                     <h1>The Air Mic </h1>
                     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                     </p>
                     <a class="read_more" href="Javascript:void(0)">Book Now </a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="mic_img">
                     <figure><img src="images/right_side.png" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>